.map-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-card {
  background-color: var(--color-background-light);
  border: 1px solid var(--color-border-gray);
  border-radius: 16px;
  box-shadow: 8px 16px 16px 0px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  padding: 32px;
  width: 450px;
  z-index: 1
}
