.aboutUs {
  background-color: var(--color-background-dark);
  color: var(--color-font-light);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 32px 32px 64px 64px;
  box-sizing: border-box;

  p {
    max-width: 75%;
    transition: max-width 0.4s ease;
  }
}

@media (max-width: 1250px) {
  .aboutUs {
    p {
      max-width: 100%;
    }
  }
}

/* 🌐 Mobile Styling */
@media (max-width: 768px) {
  .aboutUs {
    padding: 24px;
    gap: 8px;
  }
}