
transactional_hearings_txt/
license_text/
license_json/
matched_licenses_sorted.csv

inferred_license_schema.json

# Ignore all files in the .venv directory
.venv/


# Ignore all files in the .DS_Store file
.DS_Store

log.txt

app.log

*.pyc

__pycache__/

*/notebooks/address_test.csv