.comingSoonPage {
    background:
        url("../../../assets/images/coming-soon-backdrop.jpg");
    background-size: cover;
    /* Ensure coverage of entire area */
    background-position: bottom center;
    /*background-repeat: no-repeat;*/

    width: 100%;
    /* Width same as viewport */
    height: 100vh;
    /* Height same as viewport */
    overflow: hidden;
    /* Prevent content overflow scrolling */

    margin: 0px;
    padding: 0px;

    /* fills viewport height */
}

.infoBoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.infoBox {
    background: color-mix(
        in srgb,
        var(--color-background-dark) 90%,
        transparent
    );
    border-radius: 16px;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.45);
}
