.siteFooter {
    background-color: var(--color-background-dark);
    color: var(--color-font-light);
    width: 100%;
    height: auto;
    padding: 32px 64px;
    padding-bottom: 16px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 64px;
    row-gap: 16px;
}

.footerLeft {
    flex: 30%;
    max-width: 400px;
}

.logoImage {
    width: 306px;
    height: 42px;
}

.disclaimerTitle {
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: 600;
}

.disclaimerText {
    font-size: 12px;
    line-height: 1.5;
    max-width: 100%;
}

.footerColumns {
    display: flex;
    flex:60%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;
}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 198px;
}

.footerHeading {
    font-weight: 300;
    text-decoration: underline;
}

.footerSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerSection li {
    margin-bottom: 6px;
}

.footerSection a {
    color: var(--color-font-light);
    text-decoration: none;
}

.footerSection a:hover {
    text-decoration: underline;
}

.footerBottom {
    flex: 0 1 30%;
        max-width: 400px;
    font-size: 12px;
    font-weight: 300;
}


/* 🌐 Mobile Styling */
@media (max-width: 768px) {
    .siteFooter {
        flex-direction: column;
        gap: 32px;
        padding: 24px;
    }

    .disclaimerTitle {
        font-size: 14px;
    }

    .disclaimerText {
        font-size: 10px;
    }

    .footerColumns {
        gap: 24px;
        flex-direction: column;
    }

    .footerSection {
        width: 100%;
    }
    
    .footerHeading {
        font-size: 14px;
    }

    .footerSection li {
        font-size: 12px;
    }
}