.tooltip .tooltip-on-hover {
	position: absolute;
    margin-left: auto;
    margin-right :auto;
    left: 0; 
    right: 0; 
}

:not(:hover, :focus, :active, :focus-visible, :focus-within) .tooltip { visibility: hidden; }
.tooltip:has(+ .tooltip-on-hover:hover) { 
	visibility: visible; 
}

