.header-card {
  background: color-mix(in srgb, var(--color-background-dark) 90%, transparent);
  color: var(--color-font-light);
  border-radius: 16px;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.45);
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .infoBoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .header-title {
    font-size: 2rem;
    font-weight: 600;
    padding-block-start: 2rem;
    padding-block-end: 1rem;
  }

  .header-text {
    padding-block-end: 1.5rem;
  }

  .header-children {
    padding-block-end: 2rem;
  }
}

/* Mobile responsive design */
@media (max-width: 768px) {
  .header-card {
    padding-inline: 1.5rem;
    /* 24px */

    .header-title {
      padding-block-start: 2rem;
      /* 32px */
      padding-block-end: 0.75rem;
      /* 12px */
    }

    .header-text {
      padding-block-end: 1.5rem;
      /* 24px */
    }

    .header-children {
      padding-block-end: 2rem;
      /* 32px */
    }
  }
}
