.pageheader {
    background-color: var(--color-background-dark);
    color: var(--color-font-light);
    padding-inline: 2rem;

    .header-title {
        font-size: 2rem;
        font-weight: 600;
        padding-block-start: 1rem;
        padding-block-end: 1rem;
    }

    .header-text {
        padding-block-end: 1rem;
    }

    .header-children {
        padding-block-end: 2rem;
    }
}

.boxshadow {
    box-shadow: 0px 25px 20px 0px rgba(0, 0, 0, 0.45);
}

.card-style {
    background: color-mix(
        in srgb,
        var(--color-background-dark) 90%,
        transparent
    );
    border-radius: 16px;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.45);
}
